.navbar-brand {
  font-family: "Oleo Script", cursive;
  font-size: 28px;
}


#desktop {
    opacity: 0.5;
  }
  #mobile {

    opacity: 0.5;
    }

#desktop:hover {
  scale: 1.1;
  opacity: 2;
}
#mobile:hover {
    scale: 1.1;
    opacity: 2;
  }


.logo {
  width: 30px;
  height: 30px;
}
.container-logo {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
#Main-logo {
  display: inline-flex;
}

.navbar {
  border-bottom: 1px solid lightgray;
}

.margen {
  margin-top: 100px;
}
.seg-ter {
  margin-top: 5px;
}
.card {
  margin: 40px auto;
  width: 600px;
}
.card-header {
  padding: 0.75rem 15px;
}
.titulo {
  display: inline-block;
}
.btn-link {
  float: right;
  color: gray;
  padding-right: 0px;
}
.card-body {
  padding: 15px;
}
.comentario {
  color: #cdcccc;
  display: inline-block;
  width: 88%;
}

#Main-logo:hover {
  scale: 1.1;
  cursor: pointer;
}

.logo:hover {
  scale: 1.1;
  cursor: pointer;
}

#success:hover {
  scale: 1.03;
}
img {
  width: 100%;
  height: 255px;
  display: block;
  padding: 2px;
}

.row img:hover {
  scale: 1.01;
  z-index: 1000;
}

#cancel-button:hover {
  scale: 1.05;
}

#publicar-btn:hover {
  scale: 1.05;
}

::-webkit-scrollbar {
  display: none;
}

#heart-reaction:hover {
  color: red;
  background-color: transparent;
  border: none;
  scale: 1.2;
}

#close:hover {
  background-color: red;
  color: white;
}
